# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exp
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!UnrealVRPNx64.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Log files
*.log

# Executables
*.exe
*.out
*.app
/Saved/
/Build/
/UnrealPit_UE4.sdf
